.chat-outer{

    background-color: rgba(0, 0, 0, 0.178);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;

}
.chat-outer:hover {
    box-shadow: 0 0 30px 8px rgba(160, 163, 188, 0.418); /* Add glowing shadow on hover */
    transition: ease-in .5s;
}